.DS_Store

/.build
/Packages
xcuserdata/
DerivedData/
.netrc

# We ignore the complete .swiftpm directory for now, since Xcode shows schemes from dependencies.
# See discussion in https://github.com/sersoft-gmbh/xmlwrangler#122 for more details.
.swiftpm/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
