# Global
*  @ffried

# Workflow & Deployment related files
.github/*       @ffried
.jazzy.yaml     @ffried
.codecov.yml    @ffried

# Project & Source files
*.swift         @ffried
/Package*.swift @ffried
/Sources/*      @ffried
/Tests/*        @ffried
